@layer fonts {
    /* Inter */
    @font-face {
        font-display: swap;
        font-family: 'Inter';
        src: url('/assets/fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-display: swap;
        font-family: 'Inter';
        src: url('/assets/fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }

    /* Martian Mono */
    @font-face {
        font-display: swap;
        font-family: 'Martian Mono';
        src: url('/assets/fonts/martian-mono/static/MartianMono-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-display: swap;
        font-family: 'Martian Mono';
        src: url('/assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-display: swap;
        font-family: 'Martian Mono';
        src: url('/assets/fonts/martian-mono/static/MartianMono-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
}

@layer colors {
:root {
    /* Neutrals */
    --neutral-900: hsl(194, 78%, 11%);
    --neutral-700: hsl(195, 23%, 28%);
    --neutral-200: hsl(17, 12%, 89%);
    --neutral-100: hsl(17, 41%, 97%);
    --neutral-0: hsl(0, 0%, 100%);

    /* Light Salmons */
    --light-salmon-500: hsl(22, 99%, 72%);
    --light-salmon-100: hsl(22, 100%, 91%);
    --light-salmon-50: hsl(23, 100%, 97%);

    /* Gradients */
    --text-gradient: linear-gradient(107deg, var(--light-salmon-500), var(--neutral-900));
    --gradient: linear-gradient(90deg, var(--light-salmon-100), var(--light-salmon-50));
}
}

@layer global {
    /* CSS Reset */
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        min-height: 50vh;
    }
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    h1, 
    h2, 
    h3 {
        margin: 0;
        line-height: 1.1;
    }

    p {
        line-height: 1.3;
    }

    a {
        text-decoration: none;
    }

    ul, 
    ol {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }
}

@layer layout {

}